@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page {
        @apply mb-0;
    }
    .container {
        @apply max-w-[1320px];
    }
    .headingOne, .headingTwo, .headingThree, .headingFour, .headingFive, .headingSix, .subtitleOne, .subtitleTwo, .ctaButton, .bodyOne, .bodyTwo {
        @apply text-charcoal;
        
    }
    .headingOne, .headingTwo, .headingThree, .headingFour, .headingFive, .headingSix, .subtitleOne, .subtitleTwo, .ctaButton {
        @apply text-charcoal;
    }
    .bodyOne, .bodyTwo {
        @apply font-nunito;
    }
    .headingOne {
        @apply font-medium text-4xl mb-4 md:mb-10 md:text-6xl md:font-bold lg:mb-16 lg:text-7xl;
    }
    .headingTwo {
        @apply font-bold mb-6 text-3xl md:mb-9 md:text-4xl lg:text-5xl;
    }
    .headingThree {
        @apply font-medium text-3xl mb-8 md:text-4xl;
    }
    .headingFour {
        @apply font-bold text-2xl mb-7 md:text-4xl;
    }
    .headingFive {
        @apply font-medium text-xl mb-6 md:text-2xl;
    }
    .headingSix {
        @apply font-light text-lg mb-5 md:text-xl;
    }
    .subtitleOne {
        @apply font-normal text-base mb-4 md:text-lg;
    }
    .subtitleTwo {
        @apply font-normal mb-4 text-sm;
    }
    .bodyOne {
        @apply font-normal text-lg mb-4 md:text-xl;
    }
    .bodyTwo {
        @apply text-base font-normal mb-4 lg:text-lg;
    }
    .ctaButton {
        @apply font-normal text-lg md:text-xl text-white bg-blue rounded-full px-4 py-2 inline-block hover:text-white hover:bg-turquoise visited:text-white;
    }
    .ctaButton.small {
        @apply text-sm px-3 py-1.5;
    }
    section {
        @apply py-12 md:py-24;
    }
    .container {
        @apply mx-auto w-11/12;
    }
    .row {
        @apply grid grid-cols-12 gap-5;
    }
    a {
        @apply visited:text-inherit;
    }
    .col {
        @apply col-span-12;
    }
    .block-editor-content {
        @apply mt-0;
    }
    .block-editor-content h1 {
        @apply headingTwo;
    }
    .block-editor-content h2 {
        @apply headingThree mt-8;
    }
    .block-editor-content h3 {
        @apply headingFive;
    }
    .block-editor-content h4 {
        @apply headingSix mt-8;
    }
    .block-editor-content h5 {
        @apply subtitleOne;
    }
    .block-editor-content h6 {
        @apply subtitleTwo;
    }
    .block-editor-content p {
        @apply bodyOne;
    }
    .block-editor-content li {
        @apply bodyOne ml-6 mb-2;
    }
    .block-editor-content ul, .single-product #primary ul {
        @apply mb-4 list-disc list-inside;
    }
    .block-editor-content img {
        @apply my-12 mx-auto;
    }
       .block-editor-content a {
        @apply text-turquoise font-medium underline;
    }
    .single-product .product_title{
        @apply headingThree;
    }
    .single-product h3 {
        @apply headingSix;
    }
   
    .single-product .price span {
        @apply headingFive font-bold;
    }
    .woocommerce button.button.alt {
        @apply ctaButton;
    }
    .woocommerce-checkout.checkout {
        @apply mt-80;
    }
    .woocommerce-checkout .entry-content {
        @apply py-12 md:py-24 mx-auto w-11/12 mt-0;
    }
    .woocommerce-checkout .entry-content p {
        @apply bodyTwo;
    }
    .woocommerce-checkout .entry-content h3 {
        @apply headingFive;
    }
    .woocommerce-checkout .entry-header {
        @apply bg-turquoise text-white headingTwo text-center py-12 mb-0;
    }
    #mobile-menu a:not(.ctaButton a) {
        @apply text-turquoise headingFour mb-2 block;
    }
    #mobile-menu .sub-menu {
        @apply mb-6 ;
    }
    #mobile-menu .sub-menu a:not(.ctaButton a) {
        @apply headingFive text-white mb-1 block;
    }
    #mobile-menu .ctaButton {
        @apply bg-turquoise text-white mb-12;
    } 
    .post, .page {
        @apply mb-0;
    }   
}

html {
    scroll-behavior: smooth;
}
 ol {
    list-style: auto !important;
 }

#anchor-links > a.ds-menu-active {
    border-color: #06D6A0 !important;
    font-weight: 700;
}

/* Progress Bar */
#progress-bar {
    --scrollAmount: 0%;
     width: var(--scrollAmount);
    height: 16px;
    /*
    Height of the header
    top: 110px;
    */  
}

.logo-container .custom-logo {
    height: 35px;
    width: auto;
}
@media only screen and (max-width: 1024px) {
    .logo-container .custom-logo {
        height: 30px;
    }   
}

.seconadry-nav, #progress-bar-container, #mobile-menu, #search-bar.show-mobile, #datafetch, #featured-video.is-sticky {
    top: 76px;
}
.announcement .seconadry-nav, .announcement #progress-bar-container, .announcement #mobile-menu, .announcement #search-bar.show-mobile, .announcement #datafetch, .announcement #featured-video.is-sticky {
    top: 111px;
}

#mega-menu {
    top: 46px;
}

.announcement #mega-menu {
    top: 76px;
}
.mobile-menu {
    height: calc(100vh - 76px);
}
.announcement .mobile-menu {
    height: calc(100vh - 112px);
}

/* Search results height and scroll */
#datafetch {
    max-height: calc(95vh - 76px);
}
.announcement #datafetch {
    max-height: calc(95vh - 112px);
}


/*Hamburger transitions with open class added via javascript */
.open {
    transform: rotate(90deg) !important;
    transform: translateY(0px) !important;
}
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px) !important;
}
.open .hamburger-middle {
    display: none;
}
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px) !important;
}
body.no-scroll {
    overflow: hidden;
    height: 100%;
}
#search-icon.open i, #close-search-container {
    display: none;
}
#search-icon.open #close-search-container {
    display: block !important;
}

/*Show search bar as fixed on mobile */

@media only screen and (max-width: 1024px) {
    #search-bar.show-mobile {
        display: block !important;
        visibility: visible !important;
        position: fixed;
        left: 0 !important;
        right: 0;
    }
    #search-bar.show-mobile #datafetch {
        position: relative !important;
        top: 0 !important;
        box-shadow: none !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        max-width: 42rem !important;
        height: calc(100vh - 184px);
    }
    #search-bar.show-mobile #close-search-container {
        display: none !important;
    }
    #search-bar.show-mobile {
        height: calc(100vh - 76px);
    }
    .announcement #search-bar.show-mobile {
        height: calc(100vh - 112px);
    }
}

#datafetch::-webkit-scrollbar {
   width: 12px;
   border-radius: 1.5rem !important;
}
   
#datafetch::-webkit-scrollbar-track {
    
    border-radius: 1.5rem !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
   
#datafetch::-webkit-scrollbar-thumb {
    background-color: #F6617C;
    border-radius: 1.5rem !important;
}

/* Rate my post Styles */
.rmp-widgets-container {
    background: #06D6A0;
    color: #fff !important;
}

/* Video Display On Page*/
.content-media--video {
    background-color: #001f5f;
    display: block;
    position: relative;
    padding: 0 0 56.25% 0;
}
.content-media--video iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 /** Use .sticky */
 #featured-video.is-sticky {
    position: fixed;
    left: auto;
    max-width: 560px;
    max-height: 316px;
    width: 560px;
    height: 316px;
    right: 0;
}
@media only screen and (max-width: 560px) {
    #featured-video.is-sticky {
        width: 100%;
        height: 56.25vw;
    }
}

/* Woocommerce Product Page */
.woocommerce div.product div.images {
    float: none;
    width: 100%;
}
.single-product .tabs.wc-tabs, .single-product .tabs.wc-tabs h2 {
    display: none;
}
.woocommerce-error {
    margin-bottom: 0 !important;
}

/* Contact Form */
#wpcf7-f43-o1 input[type='text'], #wpcf7-f43-o1 input[type='email'], #wpcf7-f43-o1 textarea {
    width: 100%;
    padding: 4%;
    border-radius: 15px;
}
#wpcf7-f43-o1 input[type='submit'] {
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: inline-block;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(33 118 255 / var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
#wpcf7-f43-o1 .submit-container {
    text-align: right;
}

/* Exit Intention Popup */ 
.newsletter {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff; 
}
.exit-intent-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: rgba(33, 33, 33, 0.8);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.exit-intent-popup.visible {
    transform: translateY(0) scale(1) !important;
}
#announcement-bar a {
    text-decoration: underline;
}
#mobile-menu, #search-bar, #mega-menu { 
    transition: visibility 0.6s ease-in-out,opacity 0.6s ease-in-out;
}

/* Mega menu hover icon - wouldn't work with Tailwind*/ 
#mega-menu {
    transition: opacity 0.5s ease-in-out, translate 0s !important;
}

#mega-menu i {
   margin-bottom: 0;
   color: #06D6A0;
   font-size: 26px;
}

#mega-menu a:hover i {
    color: #fff !important;
}

.main-nav .ctaButton {
    margin-left: 8px;
}

/* Text blocks within articles*/
.text-block.green {
    background: #44A659 ;
}
.text-block.red {
    background: #E3655B;
}
.text-block.blue {
    background: #2176FF;
}
.text-block, .block-quote {
    border-radius: 19px;
    padding: 5%;
    margin: 5% 0;
}
.text-block h4, .text-block p, .text-block li, .block-quote h4 {
    color: #fff !important; 
}
.text-block h4, .block-quote h4 {
    margin-top: 0 !important;
    font-weight: 500 !important ;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    margin-bottom: 1.5rem;
}

/* Quotes within articles */
.block-quote {
    background: rgba(217, 217, 217, 0.2);
    border: 2px solid #06D6A0;
    display: flex;
    gap: 2rem;
}
.block-quote i {
    color: #06D6A0 !important;
    font-size: 4rem; 
}

.block-quote h4  {
    font-style: italic;
    color: #06D6A0 !important;
    margin-bottom: 0 !important;
    font-weight: 300 !important;
}
.block-quote h4.author  {
    font-weight: 500 !important;
    margin-top: 1em !important;
}
@media only screen and (max-width: 768px) {
    .text-block h4, .block-quote h4 {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem;
    }
    .block-quote { 
        flex-direction: column;
        gap: 0.5rem
    }
    .block-quote i {
        font-size: 2rem;
    }
}


.learning-goal {
    background: rgba(217, 217, 217, 0.1);
}


/*JS Scroll
--------------------------------------------*/
.js-scroll {
    visibility: hidden;
    transition: opacity 500ms;
  }
  
  .js-scroll.scrolled {
    visibility: visible;
  }
  
  .scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
  }
  
  .scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
  }
  
  .scrolled.fade-in-top {
    animation: fade-in-top 1s ease-in-out both;
  }
  
  .scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
  }
  
  .scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
  }
  
  /* ----------------------------------------------
     * Generated by Animista on 2021-2-11 23:32:31
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in-bottom {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in-top {
    0% {
      transform: translateY-(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

@media only screen and (max-width: 769px) {
   body .lessons-container .lesson-card {
        margin-top: 50px !important;
    }
}


.ppw-post-password-container {
    padding: 100px 0;
    max-width: 1024px;
    margin: auto;

}
.tablinks.active {
    background: #06D6A0 !important;
}
.tablinks:hover {
    font-weight: 500 !important;
}

.woocommerce-product-details__short-description {
    margin: 30px 0;
}

.related.products {
    display: none;
}

.block-editor-content li h1, .block-editor-content li h2, .block-editor-content li h3, .block-editor-content li h4, .block-editor-content li h5, .block-editor-content li h6 {
    display: inline !important;
    margin-bottom: 0 !important;
}

.ctaButton:visited {
    color: #fff !important;
}

#home-hero #cursor {
    color: #fff !important;
    border-right: 0.1em solid;
    animation: caret 1s steps(1) infinite !important;
    margin-left: 0.2em;
}
@keyframes caret {
    50% {
      border-color: transparent;
    }
  }
#home-hero #header-title {
    height: 100%;
    min-height: 2.5em;
    color: #fff !important;
}

.splide__arrow:disabled {
   display: none;
}

.block-editor-content.white > * {
    color: #fff !important;
}

 .products + #mega-menu #menu-container {
    width: 30% !important;
    margin-right: 0 !important;
    margin-left: auto;
} 
.products + #mega-menu #menu-container #menu-list {
    display: flex !important;
    flex-direction: column !important;
}

.block-editor-content .ctaButton {
    text-decoration: none !important;
}
.mega-link i {
    width: 40px;
    vertical-align: middle;
    display: inline-block;
}

.wpcc-container {
    z-index: 99999 !important;
}
.eduChat {
    z-index: 99998 !important;
}