@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply max-w-[1320px];
    }
    .headingOne, .headingTwo, .headingThree, .headingFour, .headingFive, .headingSix, .subtitleOne, .subtitleTwo, .ctaButton, .bodyOne, .bodyTwo {
        @apply text-charcoal;
        
    }
    .headingOne, .headingTwo, .headingThree, .headingFour, .headingFive, .headingSix, .subtitleOne, .subtitleTwo, .ctaButton {
        @apply text-charcoal;
    }
    .bodyOne, .bodyTwo {
        @apply font-nunito;
    }
    .headingOne {
        @apply font-medium text-4xl mb-4 md:mb-10 md:text-6xl md:font-bold lg:mb-16 lg:text-7xl xl:text-8xl ;
    }
    .headingTwo {
        @apply font-bold mb-6 text-3xl md:mb-9 md:text-4xl lg:text-5xl;
    }
    .headingThree {
        @apply font-medium text-3xl mb-8 md:text-4xl;
    }
    .headingFour {
        @apply font-bold text-2xl mb-7 md:text-4xl;
    }
    .headingFive {
        @apply font-medium text-xl mb-6 md:text-2xl;
    }
    .headingSix {
        @apply font-medium text-lg mb-5 md:text-xl;
    }
    .subtitleOne {
        @apply font-normal text-base mb-4 md:text-lg;
    }
    .subtitleTwo {
        @apply font-normal mb-4 text-sm;
    }
    .bodyOne {
        @apply font-normal text-lg mb-4 md:text-xl;
    }
    .bodyTwo {
        @apply text-base font-normal mb-4;
    }
    .ctaButton {
        @apply font-normal text-lg md:text-xl text-white bg-blue rounded-full px-4 py-2 inline-block hover:text-white hover:bg-turquoise visited:text-white;
    }
    .ctaButton.small {
        @apply text-sm px-3 py-1.5;
    }
    section {
        @apply py-12 md:py-24;
    }
    .container {
        @apply mx-auto w-11/12;
    }
    .row {
        @apply grid grid-cols-12 gap-x-5;
    }
    a {
        @apply visited:text-inherit;
    }
    .col {
        @apply col-span-12;
    }
  
}

html {
    scroll-behavior: smooth;
}


#anchor-links > a.ds-menu-active {
    border-color: #06D6A0 !important;
    font-weight: 700;
}

/* Progress Bar */
#progress-bar {
    --scrollAmount: 0%;
     width: var(--scrollAmount);
    height: 16px;
    /*
    Height of the header
    top: 110px;
    */  
}
